<h1>ID: <%= bookInstance._id %></h1>

<p>
	<strong>Title: </strong>
	<a href="<%= bookInstance.book.url %>"> <%= bookInstance.book.title %></a>
</p>

<p><strong>Imprint: </strong><%= bookInstance.imprint %></p>

<p>
	<strong>Status: </strong>
	<% if (bookInstance.status === "Available") { %>
	<span class="text-success"> <%= bookInstance.status %></span>
	<% } else if (bookInstance.status === "Maintenance") { %>
	<span class="text-danger"> <%= bookInstance.status %></span>
	<% } else { %>
	<span class="text-warning"> <%= bookInstance.status %></span>
	<% } %>

    <% if (bookInstance.status !== "Available") { %>
        <p><strong>Due back: </strong> <%= bookInstance.due_back_formatted %></p>
   <% } %>
</p>

<hr>
<p>
	<a href="<%= bookInstance.url+"/delete" %>">Delete Copy</a>
</p>
